{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src= "{% static 'js/main.js' %}"></script>
    <title>Codimix</title>
</head>
<body>
    <div class="container">
        {% block content %}
        <h1 id='title'>Comidix</h1>
        <p>The best AI tool for CODING.</p>
        <form method="post" action="{% url 'home' %}">
            {% csrf_token %}

            <div class="form-control">
                <input class="input input-alt" placeholder="Ask something intelligent" required="" type="text" name="user_input">
                <span class="input-border input-border-alt"></span>
            </div>
            <button class="button2" type="submit">Submit</button>

        </form>
        <div class="div-response">
            <div class="tools">
                <div class="circle">
                    <span class="red box"></span>
                </div>
                <div class="circle">
                    <span class="yellow box"></span>
                </div>
                <div class="circle">
                    <span class="green box"></span>
                </div>

                <button onclick="copyToClipboard()" class='copytoclipbtn'> 
                    <img class="copy-img"src="static/images/copy.png"></img>
                </button>
            </div>

            <div class="card_content">
                <p id="textToCopy">
                    {{ user_sent }}

                    TEXT Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit exercitationem at commodi. Rerum ipsam et accusamus modi, cupiditate aut ad non dolores perspiciatis quas nobis necessitatibus, iste, animi quis soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse adipisci culpa error assumenda enim blanditiis accusamus laudantium quas consequatur, deleniti possimus impedit repudiandae expedita corrupti alias veritatis voluptas sunt eum Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quia tenetur quod libero molestiae ipsum commodi explicabo voluptates et veniam, consequatur minima. Dignissimos quae, esse voluptas aperiam voluptates numquam modi.
                </p> 
            </div>
        </div>
        {% endblock %}
</body>
</html>